<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.p0830.mapper.BoardMapper">
   
    <!-- 게시판 전체검색  -->
	<select id="selectBoardList" resultType="com.site.p0830.vo.BoardVo">
		select * from
			(select rownum rnum,b.* from
			(select * from board
			<where>
			<if test="category == null">
			</if>
			<if test="category == 'ball'">
			  btitle like '%'||#{searchWord}||'%' or bcontent like '%'||#{searchWord}||'%'
			</if>
			<if test="category == 'btitle'">
			  btitle like '%'||#{searchWord}||'%'
			</if>
			<if test="category == 'bcontent'">
			  bcontent like '%'||#{searchWord}||'%'
			</if>
		    </where>
			order by bgroup desc,bstep asc) b)
			where rnum between #{startrow} and #{endrow}
	</select>
	
    <!-- 게시글 전체개수  -->
	<select id="selectListCount" resultType="int">
		select count(*) from board
		<where>
			<if test="category == null">
			</if>
			<if test="category == 'ball'">
			  btitle like '%'||#{searchWord}||'%' or bcontent like '%'||#{searchWord}||'%'
			</if>
			<if test="category == 'btitle'">
			  btitle like '%'||#{searchWord}||'%'
			</if>
			<if test="category == 'bcontent'">
			  bcontent like '%'||#{searchWord}||'%'
			</if>
		</where>
		
	</select>
	

</mapper>